<div class="registration">
  @if (!hasRegistered) {
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" >
      <h1>New user</h1>
      <label>
        Username
        <input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" minlength="4" required>
        @if (username.invalid && username.touched) {
          <span class="error">
            @if (username.hasError("minlength")) {
              Must be at least 4 characters
            }
            @else {
              Required
            }
          </span>
        }
      </label>
      <label>
        Password
        <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" minlength="8" required>
        @if (password.invalid && password.touched) {
          <span class="error">
            @if (password.hasError("minlength")) {
              Must be at least 8 characters
            }
            @else {
              Required
            }
          </span>
        }
      </label>
      <button type="submit" [disabled]="registrationForm.invalid">Sign up</button>
      @if (error) {
        <span class="error-box">{{error}}</span>
      }
      <p>
        Already signed up?
        <a routerLink="/login">Login</a>
      </p>
    </form>
  }
  @else {
    <div class="registration-info">
      <h1>Registration sent</h1>
      <div>Once you have been verified, you'll be able to <a routerLink="/login">log in</a></div>
    </div>
  }
</div>
