.user {
  display: inline-flex;
  align-items: center;
  gap: .25rem;
}

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
}
