@if (meal) {
  <div class="meal-detail">
    <div class="meal-detail-inner">
      <h1>{{ meal.recipe }}</h1>
      <div class="datetime">
        <div class="date">
          <img src="/assets/icons/calendar.svg" alt="Date">
          <span>{{ meal.date | date : 'mediumDate' }}</span>
        </div>
        <div class="time">
          <img src="/assets/icons/clock.svg" alt="Time">
          <span>{{ meal.date | date : 'shortTime' }}</span>
        </div>
      </div>
      <app-user id="{{meal.cook}}"></app-user>
      @if (meal.note) {
        <div class="note">
          {{meal.note}}
        </div>
      }
      <div class="edit">
        <a routerLink="/meal/{{meal._id}}/edit">Edit</a>
      </div>
      <div class="guests">
        <h2>Extra mouths</h2>
        <div class="users">
          @for (guest of meal.guests; track guest) {
            <app-user id="{{guest}}"></app-user>
          }
          @empty {
            None
          }
        </div>
      </div>
      @if (!isGuest) {
        <button (click)="joinMeal()">Count me in</button>
      } @else {
        <button class="red" (click)="leaveMeal()">Can't make it</button>
      }
    </div>
  </div>
}
