@if (meal) {
  <div class="meal-detail">
    <p>Date: {{ meal.date | date : 'medium' }}</p>
    <p>Recipe: {{ meal.recipe }}</p>
    <p>
      Cook:
      <app-user id="{{meal.cook}}"></app-user>
    </p>
    <p>Note: {{ meal.note }}</p>
    @if (meal.guests) {
      <div>
        Guests:
        <div class="guests">
          @for (guest of meal.guests; track guest) {
            <app-user id="{{guest}}"></app-user>
          }
        </div>
      </div>
    }
    @if (!isGuest) {
      <button (click)="joinMeal()">Join</button>
    } @else {
      <button (click)="leaveMeal()">Leave</button>
    }
  </div>
}
